.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* ExcuseButton.css */
.excuse-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #007BFF, #00BFFF);
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.excuse-button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.excuse-button:focus {
  outline: none;
}


.excuse-display {
  text-align: center;
  margin: 20px;
  color: #333; 
}

.excuse-display h1 {
  margin-bottom: 20px; 
}

.message-box {
  padding: 20px;
  margin-top: 10px; 
  background-color: #f8f9fa; 
  border: 1px solid #dee2e6; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-size: 16px;
  color: #495057; 
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  alignItems: center;
  justifyContent: center;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  borderRadius: 8px;
  boxShadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  textAlign: center;
}

.modal-input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.modal-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-button-validate {
  background-color: #007BFF;
}

.modal-button-validate:hover,
.modal-button-validate:focus {
  background-color: #0056b3;
}

.modal-button-close {
  background-color: #6c757d;
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: #5a6268;
}



.add-excuse-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #62df0e, #99ff00);
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin-top: 20px;
}

.add-excuse-button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.add-excuse-button:focus {
  outline: none;
}

